<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,250}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,190},{200,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,248}}</string>
                <key>sourceSize</key>
                <string>{200,248}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,688},{140,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,106}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,775},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,703},{93,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,515},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{171,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,150}}</string>
                <key>sourceSize</key>
                <string>{171,150}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,623},{107,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,579},{81,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{81,57}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{186,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,250}}</string>
                <key>sourceSize</key>
                <string>{186,250}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,392},{185,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,190}}</string>
                <key>sourceSize</key>
                <string>{185,190}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,579},{142,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,107}}</string>
                <key>sourceSize</key>
                <string>{142,107}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{152,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,135}}</string>
                <key>sourceSize</key>
                <string>{152,135}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,392},{121,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,111}}</string>
                <key>sourceSize</key>
                <string>{121,111}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{197,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,195}}</string>
                <key>sourceSize</key>
                <string>{197,195}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,638},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,715},{69,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,58}}</string>
                <key>sourceSize</key>
                <string>{69,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skill_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf90d3264858e1d93c423bf8a2c48822:1/1$</string>
            <key>textureFileName</key>
            <string>Skill_1.png</string>
        </dict>
    </dict>
</plist>
